@(message: String)

@Main("bethany") {
   <div class="container">
   
      <div class="row">
      
        <div class="col-md-4">
        
          <div class="well well-color">
      
            <img class="img" src="@routes.Assets.at("images/bethany.jpg")" alt="Bethany Hamilton">
      
          </div>
          
        </div>
        
        <div class="col-md-8">
        
          <div class="well well-color">
      
            <h1>Bethany Hamilton</h1>
              Bethany Meilani Hamilton (born February 8, 1990, Lihue, Hawaii) is an American professional surfer. She is known for surviving a shark attack in which her left arm was bitten off, and for overcoming the injury to ultimately return to professional surfing. She wrote about her experience in the 2004 autobiography Soul Surfer: A True Story of Faith, Family, and Fighting to Get Back on the Board. In April 2011, the feature film Soul Surfer was released, based on the book and additional interviews. She has appeared on many television shows since the loss of her arm.
             
          </div>
        
        </div>
       
      </div>
      
    </div>
    
}
