@(message: String) @Main("Page1") {
<div class="container">

  <div class="row">

    <div class="col-md-4">

      <div class="well well-color">

        <img class="img" src="@routes.Assets.at(" images/kelly.jpg")" alt="Kelly Slater">

      </div>

    </div>

    <div class="col-md-8">

      <div class="well well-color">

        <h1>Kelly Slater</h1>
        Robert Kelly Slater (born February 11, 1972, Cocoa Beach, Florida, US) is an American professional surfer known
        for his competitive prowess and style. He has been crowned ASP World Champion a record 11 times, including 5
        consecutive titles from 1994-98. He is the youngest (at age 20) and the oldest (at age 39) to win the title.
        Upon winning his 5th world title in 1997, Slater passed Australian surfing legend Mark Richards to become the
        most successful champion in the history of the sport. In 2007 he also became the all-time leader in career event
        wins by winning the Boost Mobile Pro event at Lower Trestles near San Clemente, California. The previous record
        was held by Slater's childhood hero, 3-time world champion Tom Curren.

      </div>

    </div>

  </div>

</div>

}
