@(message: String) @Main("Page1") {
<div class="container">

  <div class="row">

    <div class="col-md-4">

      <div class="well well-color">

        <img class="img" src="@routes.Assets.at(" images/sunny.jpg")" alt="Sunny Garcia">

      </div>

    </div>

    <div class="col-md-8">

      <div class="well well-color">

        <h1>Sunny Garcia</h1>

        Sunny Garcia was born Vincent Sennen Garcia on January 14, 1970 in Mā'ili, on the Westside of Oahu, Hawaii. He
        grew up in Wai'anae and after leaving school, debuted on the 1986 Gotcha Pro at Sandy Beach, Oahu, beating the
        1984 champ Tom Carroll. His top surfing achievement was becoming the ASP WCT World Champion in 2000 but Garcia
        also holds the record for most WQS event wins, 22, and holds six Triple Crown of Surfing titles. In addition, he
        was the second professional surfer to win over $1 million in prize money. He initially retired in 2005 but is
        now competing again, although in 2008, his hopes for ASP World Tour qualification were dashed with early
        elimination in the O'Neill World Cup of Surfing.

      </div>

    </div>

  </div>

</div>

}
